# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
.venv/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# notebook
.ipynb_checkpoints/

# Folder
data/raw/